*.class

# OS-X
**/.DS_Store

# IntelliJ
.idea/
target/
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# TODO: to add properties file here is not that easy FIX ME:
# https://stackoverflow.com/questions/23986048/gitignore-not-ignoring-certain-project-properties
connection.properties

# JSON files
*.json
